[submodule "thirdparty/whisper.cpp"]
	path = psych_report_core/thirdparty/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp.git
[submodule "thirdparty/llama.cpp"]
	path = psych_report_core/thirdparty/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
